VITE_API_BASE_URL=https://n11-final-case.duckdns.org
VITE_IYZICO_CARD_HOLDER_NAME=Cansın Lale
VITE_IYZICO_CARD_NUMBER=5528790000000008
VITE_IYZICO_EXPIRE_MONTH=03
VITE_IYZICO_EXPIRE_YEAR=2030
VITE_IYZICO_CVC=077
https://github.com/BigNjapan/Atelier